.header {
    background: #FFFFFF;
}
.menu {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.burger-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.burger-line, 
.burger-line::before,
.burger-line::after {
    width: 35px;
    height: 2px;
    background: #1E2533;
    display: inline-block;
    position: relative;
} 
.burger-line::before {
    content: "";
    top: 2px;
}
.burger-line::after {
    content: "";
    top: -23px;
}
.burger-input {
    display: none;

    &:checked ~ .nav {
        display: block;
    }
}
.nav {
    display: none;
    order: 1;
    margin: 0 auto;
    &__ol {
        list-style: none;
        padding: 0;
        display: flex;
    }
    &__li {
        margin-right: 10px;
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 34px;
        text-transform: uppercase;
        color: #040344;
    }
}
.pers-acc {
    text-decoration: none;
    background: #040344;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 20px 8px 0;
    &::before {
        content: "";
        background: url(../design/header-icon-perssonal-acc.png) no-repeat center;
        background-size: 60%;
        width: 50px;
        height: 20px;
        display: inline-block;
        position: relative;
        left: 5px;
        top: 4px;
    }
}
.icon-twitter {
    background: url(../design/header-icon-twitter.png) no-repeat center;
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* Media */
@media screen and (min-width: 600px) {
    .menu {
        align-items: center;
    }
    .burger-label {
        display: none;
    }
    .nav {
        display: block;
        order: 0;
        margin: 0;
        margin-right: auto;
    }
    .nav__li {
        margin-right: 30px;
    }
}
@media screen and (min-width: 900px) {
    .nav__link {
        font-size: 28px;
    }
}
@media screen and (min-width: 1200px) {
    .icon-twitter {
        margin-left: 46px;
    }
}

 